<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="wrapper text-center pt-4">
        <h3>Equal Parental Rights</h3>
        <p class="bill pt-3">
            <span>The</span> following is a list of items in which needs to become a bill/law to improve the lives of
            children in a divorce situation and to alleviate hatred between parents that puts innocent children in the
            middle creating hatred between the children and a parent. The following should be a bill/law The
            following shall be void if a different mutual agreement has been agreed upon by both parents. It is proven
            that kids take at least 2 days to adjust going from house to house, for this a week on week off schedule is
            best for children, allows them to fully adjust and gives structure. <br><br>
            <span>1.</span> In a divorce where no abuse of any kind is involved both parties without a
            different mutual agreement between the two parties shall have shared physical
            and legal custody with equal amount of visitation.
            <br><br>
            <span>2.</span> When there is provable child neglect, mental, physical, sexual or verbal abuse to
            the child or other parent by one parent, the abusive parent shall not receive equal
            amount of physical custody and the other parent shall receive full physical and
            legal custody. The abusive parent shall seek therapy and not allowed unsupervised
            physical custody until a professional psychologist appointed by the Court
            convinces the Court they are no longer harmful to the children.
            <br><br>
            <span>3.</span> In a divorce where a non biological parent has become a part of the
            childrens lives where the biological parent is not a part of the childrens
            lives then the non biological parent shall have shared physical with equal amount
            of visitation unless otherwise agreed upon by both parties.
            <br><br>
            <span>3A.</span> In a divorce where a non biological parent has become a large part of the
            childrens lives where a biological parent is also a large
            part of the childrens lives, the non-biological parent shall be considered for partial
            physical custody.
            <br><br>
            <span>4.</span> In all divorce situations where there is shared legal and physical custody both
            parties will share the costs 50/50 of all schooling supplies, uniforms (If
            needed), medical, dental, extra curricular activities, (Any sports they
            may play, dance, etc...) It will be the sole responsibility of each parent
            while the child is with them to cover any costs for sitters, camps, food, clothing,
            etc...
            <br><br>
            <span>5.</span> In a divorce situation where one parent has full physical and legal custody
            whether agreed upon by both parties or due to abuse of any kind then the
            parent with full custody shall receive child support from the other parent
            according to the child support guidelines from that state.
            <br><br>
            <span>6.</span> In a divorce situation where one parent was totally reliant financially on the
            other parent with no abuse, the parent that was reliant shall receive
            financial assistance from the other parent for 6 months to a year to give
            them a chance to find employment and be self reliant.
            <br><br>
            <span>7.</span> In a divorce situation where one parent was totally reliant financially on the other
            parent with abuse and that parent that was financially reliant was the one abusing
            shall receive no financial assistance from the other parent.
            <br><br>
            <span>8.</span> In a divorce situation where one parent does not want to be in the childs life, that
            parent that chooses to not be in the childs life shall pay child support according to
            child support guidelines in that state as well as financial assistance to the parent
            that chooses to be in the childs life.
            <br><br>
            <span>9.</span> In a divorce situation where one parent uses the child/children as a pawn to get
            back at the other parent regardless of reasons then that parent relinquishes their
            custody agreement and the other parent shall receive full physical and legal custody.
            <br><br>

            <span>10.</span> In a divorce situation where the child/children are in fear of one parent then
            the Courts shall appoint a licensed psychologist to determine the reason for this
            fear.
            <br><br>
            <span>11.</span> In a divorce situation with shared custody one parent cannot place the child
            on any long term medications without consent
        </p>
        <div class="sign">
            <form action="/sign" method="POST">
                <div class="input flexed">
                    <label for="fname">First Name</label>
                    <input type="text" name="fname">
                </div>
                <div class="input flexed">
                    <label for="lname">Last Name</label>
                    <input type="text" name="lname">
                </div>
                <div class="input flexed">
                    <label for="age">Age</label>
                    <input type="number" name="age">
                </div>
                <div class="input flexed">
                    <label for="sex">Sex</label>
                    <select name="sex">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <div class="input flexed">
                    <label for="state">State</label>
                    <select name="state">
                        {% for state in states %}
                            <option value="{{state.0}}">{{state.1}}</option>
                        {% endfor %}
                    </select>
                </div>

                <input type="submit" value="Sign">
            </form>
        </div>
        <div class="table">
            <table class="table table-hover table-danger">
                <thead>
                    <tr>
                        <td>Number</td>
                        <td>First Name</td>
                        <td>Last Name</td>
                        <td>Age</td>
                        <td>Sex</td>
                        <td>Comments</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Colby</td>
                        <td>Dumonchelle</td>
                        <td>24</td>
                        <td>Male</td>
                        <td>I like this idea a lot</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Joseph</td>
                        <td>Dumonchelle</td>
                        <td>51</td>
                        <td>Male</td>
                        <td>This is pretty cool</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Sue</td>
                        <td>Dumonchelle</td>
                        <td>58</td>
                        <td>Female</td>
                        <td>You should add ....You should add ....You should add ....You should add ....</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Sue</td>
                        <td>Dumonchelle</td>
                        <td>58</td>
                        <td>Female</td>
                        <td>You should add ....</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Sue</td>
                        <td>Dumonchelle</td>
                        <td>58</td>
                        <td>Female</td>
                        <td>You should add ....</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>