<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="wrapper text-center pt-4">
        <p>
            If you have any questions, concerns, or suggestions please click <a href="mailto:equalparentalrights@gmail.com" class="email">here</a> to reach out
        </p>
        <div class="footer_line"></div> 
        <h3>Equal Parental Rights</h3>
        <p class="bill pt-3">
            <span>The</span> following is a list of items in which needs to become a bill/law to improve the lives of
            children in a divorce situation and to alleviate hatred between parents that puts innocent children in the
            middle creating hatred between the children and a parent. The following should be a bill/law The
            following shall be void if a different mutual agreement has been agreed upon by both parents. It is proven
            that kids take at least 2 days to adjust going from house to house, for this a week on week off schedule is
            best for children, allows them to fully adjust and gives structure. <br><br>
            <span>1.</span> In a divorce where no abuse of any kind is involved both parties without a
            different mutual agreement between the two parties shall have shared physical
            and legal custody with equal amount of visitation.
            <br><br>
            <span>2.</span> When there is provable child neglect, mental, physical, sexual or verbal abuse to
            the child or other parent by one parent, the abusive parent shall not receive equal
            amount of physical custody and the other parent shall receive full physical and
            legal custody. The abusive parent shall seek therapy and not allowed unsupervised
            physical custody until a professional psychologist appointed by the Court
            convinces the Court they are no longer harmful to the children.
            <br><br>
            <span>3.</span> In a divorce where a non biological parent has become a part of the
            childrens lives where the biological parent is not a part of the childrens
            lives then the non biological parent shall have shared physical with equal amount
            of visitation unless otherwise agreed upon by both parties.
            <br><br>
            <span>3A.</span> In a divorce where a non biological parent has become a large part of the
            childrens lives where a biological parent is also a large
            part of the childrens lives, the non-biological parent shall be considered for partial
            physical custody.
            <br><br>
            <span>4.</span> In all divorce situations where there is shared legal and physical custody both
            parties will share the costs 50/50 of all schooling supplies, uniforms (If
            needed), medical, dental, extra curricular activities, (Any sports they
            may play, dance, etc...) It will be the sole responsibility of each parent
            while the child is with them to cover any costs for sitters, camps, food, clothing,
            etc...
            <br><br>
            <span>5.</span> In a divorce situation where one parent has full physical and legal custody
            whether agreed upon by both parties or due to abuse of any kind then the
            parent with full custody shall receive child support from the other parent
            according to the child support guidelines from that state.
            <br><br>
            <span>6.</span> In a divorce situation where one parent was totally reliant financially on the
            other parent with no abuse, the parent that was reliant shall receive
            financial assistance from the other parent for 6 months to a year to give
            them a chance to find employment and be self reliant.
            <br><br>
            <span>7.</span> In a divorce situation where one parent was totally reliant financially on the other
            parent with abuse and that parent that was financially reliant was the one abusing
            shall receive no financial assistance from the other parent.
            <br><br>
            <span>8.</span> In a divorce situation where one parent does not want to be in the childs life, that
            parent that chooses to not be in the childs life shall pay child support according to
            child support guidelines in that state as well as financial assistance to the parent
            that chooses to be in the childs life.
            <br><br>
            <span>9.</span> In a divorce situation where one parent uses the child/children as a pawn to get
            back at the other parent regardless of reasons then that parent relinquishes their
            custody agreement and the other parent shall receive full physical and legal custody.
            <br><br>

            <span>10.</span> In a divorce situation where the child/children are in fear of one parent then
            the Courts shall appoint a licensed psychologist to determine the reason for this
            fear.
            <br><br>
            <span>11.</span> In a divorce situation with shared custody one parent cannot place the child
            on any long term medications without consent from the other parent.
            <br><br>
            <span>12.</span> In a shared custody agreement if both parents are in a disagreement on any
            medications then both parents shall seek any testing needed to prove or disprove
            the medication in question with the cost being shared 50/50 between parents.
            <br><br>
            <span>13.</span> In a shared custody agreement all medical appointments, school
            appointments, etc.. the parent in which makes these appointments shall inform the
            other parent of these appointments either before making the appointment or as soon
            as the appointments are made.
            <br><br>
            <span>The</span> above mentioned will create a better more stable life for children to give them a better life.
            Will bring more parents back into the childrens lives in which they need and deserve. This will also
            alleviate any hostile situations between the parents in which causes the children to suffer. To make this
            law will also alleviate any bias in courts towards certain genders. This will create peace between parents
            not being able to compete against the other by taking the child away from them.
            <br><br>
            <span>In</span> divorce situations people have lost the ability to think of the children that are getting hurt but
            instead think about hurting the other parent for what ever reason that caused the divorce. The children are
            the ones that suffer and have a higher chance to end up as drug addicts, criminals, failing school, etc... all
            due to the parents vindictive ways.
            <br><br>
            <span>With</span> this in place it will give children a happier lifestyle with both parents having little to no
            negativity towards each other due to the parents wont have the choice to try and take a child away from
            the other parent. The children will have a higher chance to succeed in life.
        </p>
        <div class="sign">
            {% if messages %}
                <div>
                {% for message in messages %}
                    <p class='text-danger'>{{ message }}</p>
                {% endfor %}
                </div>
            {% endif %}
            <form action="/sign" method="POST">
                {% csrf_token %}
                <div class="input flexed">
                    <div class="input-left">
                        <label for="fname">First Name</label>
                    </div>
                    <div class="input-right">
                        <input type="text" name="fname">
                    </div>
                </div>
                <div class="input flexed">
                    <div class="input-left">
                        <label for="lname">Last Name</label>
                    </div>
                    <div class="input-right">
                        <input type="text" name="lname">
                    </div>
                </div>
                <div class="input flexed">
                    <div class="input-left">
                        <label for="age">Age</label>
                    </div>
                    <div class="input-right">
                        <input type="number" name="age">
                    </div>
                </div>
                <div class="input flexed">
                    <div class="input-left">
                        <label for="comment">Comment (optional)</label>
                    </div>
                    <div class="input-right">
                        <textarea name="comment"></textarea>
                    </div>
                </div>
                <div class="input flexed">
                    <div class="input-left">
                        <label for="sex">Sex</label>
                    </div>
                    <div class="input-right">
                        <select name="sex">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                </div>
                <div class="input flexed">
                    <div class="input-left">
                        <label for="state">State</label>
                    </div>
                    <div class="input-right">
                        <select name="state">
                            {% for state in states %}
                                <option value="{{state.0}}">{{state.1}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <input type="submit" value="Sign">
            </form>
        </div>
        <div class="table-list">
            <table class="table table-hover table-secondary">
                <thead>
                    <tr>
                        <td>Number</td>
                        <td>Name</td>
                        <td>Age</td>
                        <td>State</td>
                        <td>Sex</td>
                        <td>Comments</td>
                    </tr>
                </thead>
                <tbody>
                    {% for signee in signatures %}
                    <tr>
                        <td>{{signee.id}}</td>
                        <td>{{signee.first_name}} {{signee.last_name}}</td>
                        <td>{{signee.age}}</td>
                        <td>{{signee.state}}</td>
                        <td>{{signee.sex}}</td>
                        <td>{{signee.comment}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>